.burgerMenu {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .burgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
  }
}
